<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Cobrança</ui:insert></title>
	<h:outputStylesheet library="css" name="sistema.css" />
	<h:outputScript library="js" name="jquery.maskMoney.js"/>
</h:head>

<h:body>
	<p:ajaxStatus styleClass="ajax-status">
		<f:facet name="start">
			<h:graphicImage library="images" name="carregando.gif" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<header>
		<div style="float: left">
		 <!-- <h:link>
				<h:graphicImage library="images" name="" />
			</h:link> -->
		</div>
		<div style="float: right; margin-right: 110px">
			<h:form style="display: inline-block">
				<p:menubar styleClass="menu-sistema">

					<p:menuitem value="Emitir" outcome="/NovaCobranca.xhtml" />
					<p:menuitem value="Arquivo retorno" />
				</p:menubar>
			</h:form>
		</div>
		<div style="clear: both"></div>
	</header>

	<div id="conteudo">
		<ui:insert name="corpo" />
	</div>

	<p:separator style="margin-top: 20px" />

	<footer>
		Reobotnet Boletos e arquivos de retorno com Bopepo e Texgit 
			
	</footer>
	
	<script>
      function configurarMoeda() {
        $(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
      }
      
      $(document).ready(function() {
        configurarMoeda();
      });
    </script>

</h:body>

</html>